@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700');

@font-face {
  font-family: 'BwNistaInt-xBd';
  src: url("../fonts/perso/BwNistaInt-xBd.woff") format("woff");
  font-style: normal;
  font-display: swap;
}