.card-lg {
  flex-direction: row-reverse;
  align-items: center;

  @include desktop {
    flex-direction: column;
  }
}

blockquote {
  display: inline-block;
  padding: 10px 20px;
  background: $gray;
  border-left: 2px solid $primary-color;
  font-style: italic;
  font-size: 22px;
}

.content {
  * {
    margin-bottom: 20px;
  }

  strong {
    font-family: $secondary-font;
    font-size: 22px;
    font-weight: normal;
    color: $text-color-dark;
    display: inherit;
    line-height: 1.5;
  }
}

  .bg-shape-1{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    @include mobile-xs {
      display: none;
    }
  }
  .bg-shape-2{
    position: absolute;
    left: 70px;
    top: 100px;

  }
  .bg-shape-3{
    position: absolute;
    left: 30%;
    top: 50px;
    transform: rotate(180deg);
    @include mobile-xs {
      display: none;
    }
  }

  .bg-shape-4{
    position: absolute;
    left: 100px;
    bottom: 100px;
    @include mobile-xs {
      display: none;
    }
  }

  .bg-shape-5{
    position: absolute;
    left: 40%;
    bottom: -25px;
    @include mobile-xs {
      display: none;
    }
  }

  .bg-shape-6{
    position: absolute;
    bottom: 100px;
    right: -100px;
    @include mobile-xs {
      display: none;
    }
  }
.bg-shape-7 {
  @include mobile-xs {
    display: none;
  }
}

.card-blog {
  height: 400px;
}

.card-body-blog {
  height: 250px!important;
}


