.hero-admin {
    height: 100vh;
}

.card-admin {
    position: relative;
    z-index: 5;
    max-height: 75vh;
    transform: translateY(50%);
}

.milestone-counter {
    display: flex;
    flex-direction: column;
    border-radius: 15%;
}

.background-linear1 {
    background-image: linear-gradient(to right top, #2bfdff, #4ef7ff, #67f0fe, #7ceafb, #8de3f6);
}

.background-linear2 {
    background-image: linear-gradient(to right top, #ff9e2b, #fdac21, #f9bb17, #f3c910, #ebd812);
}

.background-linear3 {
    background-image: linear-gradient(to right top, #f54ea2, #f668bc, #f57fd3, #f394e8, #f1a9fb);
}

.background-linear4 {
    background-image: linear-gradient(to right top, #41228e, #5534a4, #6946bb, #7e59d2, #926ce9);
}


